:root {
  --background: #141332;
  --foreground: #ffffff;

  --primary: #cbc8ff;
  --primary-foreground: #1d1d41;

  --secondary: #1d1d41;
  --secondary-foreground: #c1c1c1;

  --success: #1a3527;
  --success-foreground: #02b15a;

  --danger: #3c193b;
  --danger-foreground: #e41414;

  --accent: #8477ff;

  --muted: #aeabd8;
  --muted-foreground: #8c89b4;

  --border: #dcd9d9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);

  --color-accent: var(--accent);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
}
