@theme {
  --text-heading-1: 1.5rem;
  --text-heading-1--line-height: auto;
  --text-heading-1--letter-spacing: 0%;
  --text-heading-1--font-weight: 600;

  --text-title: 1.5rem;
  --text-title--line-height: 1.75rem;
  --text-title--letter-spacing: 0%;
  --text-title--font-weight: 700;

  --text-subtitle: 1rem;
  --text-subtitle--line-height: 1.5rem;
  --text-subtitle--letter-spacing: -4%;
  --text-subtitle--font-weight: 400;

  --text-form-label: 0.875rem;
  --text-form-label--line-height: 1.25rem;
  --text-form-label--letter-spacing: -2%;
  --text-form-label--font-weight: 500;
}
